<h2 class="text-center m-20">Administration commands panel</h2>
<hr class="w-70 bg-nav" />
<section class="third-shared-container p-20">
    <a href="/Admin/Category/Create" class="btn text-center bg-nav m-20">Create a Category</a>
    <a href="/Admin/Category/Create" class="btn text-center bg-nav m-20">Create a Category</a>
    <a href="/Admin/Category/Create" class="btn text-center bg-nav m-20">Create a Category</a>
</section>