<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleShop.Web</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <header class="bg-nav">
        <section class="third-shared-container bg-nav-lighter text-white w-100 text-center">
            <p class="m-0"><i class="fas fa-truck"></i> Free worldwide shipping! </p> 
            <p class="m-0" ><i class="fas fa-phone"></i> Call us at 089xxxxxxx </p> 
            <p class="m-0" ><i class="fas fa-times fa-lg"></i></p>
        </section>
        <section class="bg-nav text-white p-20 w-70 mx-auto text-start third-shared-container">
            <h1 class="font-35 m-0 p-0 display-inline"><i class="fab fa-shopware"></i> SimpleShop</h1>
            <div class="font-35 m-0 p-0 text-end">
                <button class="dropbtn"><i class="fas fa-user fa-lg"></i></button>
                <div id="myDropdown" class="dropdown-content">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <a href="/Account/Logout">Logout</a>
                    }
                    else
                    {
                        <a href="/Account/Register">Register</a>
                        <a href="/Account/Login">Login</a>
                    }
                </div>
            </div>
            <section class="font-35 m-0 p-0 display-inline text-end"><i class="fas fa-shopping-cart"></i> 0.00$</section>
        </section>

    </header>

    <section>
        <main id="main" role="main" class="w-70 mx-5percent-auto ">
            @RenderBody()
        </main>
    </section>

    <footer id="footer" class="text-center text-white bg-nav">
        &copy; 2019 - SimpleShop.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    </environment>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
