<section class="product-details-wrapper">
    <header>
        <h2>{{Name}}</h2>
    </header>
    <section>
        <img src="{{CoverUrl}}" />
        <section
            <header>Description</header>
            {{Description}}
        </section>
        <section>
            Price: {{Price}}
        </section>
    </section>
</section>