<section shop-product-id="{{Id}}" class="product-details-wrapper">
    <header>
        <h2 shop-product-name>{{Name}}</h2>
    </header>
    <section>
        <img shop-product-cover-url src="{{CoverUrl}}" />
        <section>
            <div class="w-100 text-center p-1">
                <header>Description</header>
            </div>
            <div class="product-description" shop-product-description>
                {{Description}}
            </div>
        </section>
        <section class="p-1 text-center w-100">
            Price: <span shop-product-price>{{Price}}</span>
        </section>
    </section>
</section>