.main-nav {
    width: 100%;
    box-shadow: 1px 0px 1px 1px #ccc;
}

.admin-menu-btn {
    margin-left: auto;
}

.admin-menu-btn > a {
    color: #fff !important;
    background-color: #990033;
}

.main-nav > ul {
    list-style: none;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.main-nav > ul a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 1rem;
    font-size: 18px;
    font-weight: bold;
}

.main-nav > ul > li:first-child a:first-child {
    color: #fff;
    background-color: #990033;
}