.table-tools {
    width: 100%;
    display: flex;
    margin: 1rem 0;
}

.tabulator-custom-btn {
    text-decoration: none;
    color: #fff;
    background: #990033;
    font-size: 18px;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.tabulator-custom-btn:hover {
    cursor: pointer;
}

.table-tools-input-field {
    width: 20%;
}

.table-tools > * {
    margin-right: 0.5rem;
}