<div class="w-60r mx-auto p-1">
    <h1 class="text-center w-100 p-1">Products</h1>
    <div id="products-table-toolbar" class="w-100 table-toolbar">
        <button id="collapse-groups-btn" class="shop-btn shop-btn-green float-right">Collapse all</button>
        <input id="products-search" type="text" placeholder="Search by name..." />
        <input id="products-search-submit" class="shop-btn" type="submit" value="Search" />
    </div>
    <div id="products-wrapper" class="w-100">
        <table class="w-100 mx-auto"></table>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "GET",
                url: apiConfig.entryPoint + "/Product/GetProductAdministrationModels",
                contentType: "application/json",
                success: function (products) {

                    // collapse all groups functionality
                    $("#collapse-groups-btn").on("click", function () {
                        table.getGroups().forEach(function (gr) { gr.hide(); });
                    });

                    var categoriesObj = products.reduce(function (acm, pr) {
                        acm[pr.CategoryName] = pr.CategoryName;

                        return acm;
                    }, {});

                    var table = new Tabulator("#products-wrapper table", {
                        layout: "fitDataFill",
                        selectable: 1,
                        resizableRows: false,
                        resizableColumns: false,
                        pagination: "local",
                        paginationSize: 10,
                        cellEdited: function (cell) {
                            if (cell.getData().StockCount >= 0) {
                                cell.getElement().style.border = "none";
                                
                                $.ajax({
                                    url: "/Product/EditStockCount",
                                    method: "PATCH",
                                    contentType: "application/json",
                                    processData: false,
                                    error: function (res) {
                                        modalFunctions.openErrorModal("Something went wrong. Please contact the development team.");
                                    },
                                    success: function (res) {
                                        modalFunctions.openModal("Success", "Stock count edited successfully!")
                                    },
                                    data: JSON.stringify({ productId: cell.getData().Id, stockCount: cell.getData().StockCount })
                                });
                            } else {
                                cell.getElement().style.border = "solid 2px #f00";
                            }
                        },
                        groupBy: "CategoryName",
                        groupToggleElement: "header",
                        cellClick: function (e, cell) {
                            // show product details modal functionality
                            var productId = cell.getData().Id;

                            var columnType = cell.getElement();
                            if ($(columnType).attr("tabulator-field").toLowerCase() === "name") {
                                modalFunctions.openProductDetailsDialog(productId)
                            }
                        },
                        columns: [
                            { title: "Id", field: "Id", sorter: "string", width: 250, visible: false },
                            { title: "Name", field: "Name", sorter: "string", width: 250 },
                            {
                                title: "Added On",
                                field: "AddedOn",
                                sorter: "datetime",
                                sorterParams: { format: "YYYY-MM-DDTHH:mm:ss.sssZ" },
                                width: 300,
                                formatter: "datetime",
                                formatterParams: {
                                    inputFormat: "YYYY-MM-DD hh:mm:ss",
                                    outputFormat: "DD/MM/YY hh:mm:ss",
                                    invalidPlaceholder: "(invalid date)",
                                }
                            },
                            // filtering by category name
                            {
                                title: "Category",
                                field: "CategoryName",
                                sorter: "string",
                                width: 200,
                                editable: false,
                                editor: "select",
                                editorParams: { values: categoriesObj },
                                headerFilter: true,
                                headerFilterParams: categoriesObj,
                                headerFilterFunc: "="
                            },
                            { title: "Stock Count", field: "StockCount", sorter: "number", width: 150, editor: true }
                        ]
                    });

                    // setting the table data
                    table.setData(products);

                    // filtering by product name
                    var productsSearch = $("#products-search");
                    productsSearch.on("change", function (e) {
                        var inputText = $(e.currentTarget).val();

                        table.setFilter([{ field: "Name", type: "like", value: inputText }]);
                    });

                    var productsSearchBtn = $("#products-search-submit");
                    productsSearchBtn.on("click", function () { productsSearch.trigger("change"); });
                }
            });
        });
    </script>

}