@model IEnumerable<OrderViewModel>

<h1 class="text-center w-60r mx-auto p-1">Orders</h1>
<div id="orders-wrapper" class="w-60r mx-auto">
    <ul>
        <li><a href="#new-orders">New</a></li>
        <li><a href="#sent-orders">Sent</a></li>
        <li><a href="#completed-orders">Completed</a></li>
    </ul>
    <div id="new-orders" shop-orders-wrapper="new-orders" class="w-100">
        @Html.Partial("_OrdersTablePartial", this.Model.Where(order => order.Status == ShopApp.Models.OrderStatus.New))
    </div>
    <div id="sent-orders" shop-orders-wrapper="sent-orders" class="w-100">
        @Html.Partial("_OrdersTablePartial", this.Model.Where(order => order.Status == ShopApp.Models.OrderStatus.Sent))
    </div>
    <div id="completed-orders" shop-orders-wrapper="completed-orders" class="w-100">
        @Html.Partial("_OrdersTablePartial", this.Model.Where(order => order.Status == ShopApp.Models.OrderStatus.Completed))
    </div>
</div>

<div id="confirmation-dialog" title="Caution" shop-action=""></div>

@section Scripts {

    <script id="confirmation-dialog-template" type="text/html">
        @Html.Partial("_ConfirmationPartial")
    </script>

    <script type="text/javascript">
        $(function () {
                
            // providing the id for the product details dialog
            var productDetailsButtons = $("[shop-action='product-details']");
            productDetailsButtons.on("click", function (e) {
                e.preventDefault();

                var productId = $(this).closest("[shop-product-id]").attr("shop-product-id");
                openProductDetailsDialog(productId);
            });


            // confirmation dialog
            var confirmationDialog = $("#confirmation-dialog");
            confirmationDialog.dialog({
                autoOpen: false,
                height: 200,
                width: 400,
                modal: true,
                show: {
                    effect: "blind",
                    duration: 500
                },
                hide: {
                    effect: "explode",
                    duration: 500
                },
                buttons: {
                    Confirm: function (e) {
                        var orderId = $(e.currentTarget).parent().parent().prev().find("[shop-order-id]").attr("shop-order-id");

                        if (confirmationDialog.attr("shop-action") === "remove-order") {
                            var ordersWrapper = $("#orders-wrapper").find("[shop-order-id='" + orderId + "']");

                            $.ajax({
                                url: "/Order/Cancel/" + orderId,
                                method: "GET"
                            }).then(function () {
                                var container = ordersWrapper.parent().parent().parent();
                                var tbody = ordersWrapper.parent();

                                ordersWrapper.remove();

                                if (tbody.children().length === 0) {
                                    container.html("<h3 class='text-center p-1 mx-auto w-50'>No Orders with this status.</h3>");
                                }
                            });

                        } else if (confirmationDialog.attr("shop-action") === "send-order") {
                            
                            $.ajax({
                                url: "/Order/Send/" + orderId,
                                method: "GET"
                            }).then(function () {
                                window.location.reload();
                            });

                        } else if (confirmationDialog.attr("shop-action") === "complete-order") {

                            $.ajax({
                                url: "/Order/Complete/" + orderId,
                                method: "GET"
                            }).then(function () {
                                window.location.reload();
                            });

                        }

                        confirmationDialog.dialog("close");
                    },
                    Cancel: function () {
                        confirmationDialog.dialog("close");
                    }
                }
            });

            // send order functionality
            var sendOrderButtons = $("[shop-orders-wrapper='new-orders']").find("[shop-action='send-order']");
            sendOrderButtons.on("click", function (e) {
                var orderId = $(this).closest("[shop-order-id]").attr("shop-order-id");

                confirmationDialog.attr("shop-action", "send-order");

                confirmationDialog.html($("#confirmation-dialog-template").html());
                confirmationDialog.append("<span shop-order-id='" + orderId + "'></span>");

                confirmationDialog.dialog("open");
            });

            // complete order functionality
            var completeOrderButtons = $("#orders-wrapper").find("[shop-action='complete-order']");
            completeOrderButtons.on("click", function (e) {
                var orderId = $(this).closest("[shop-order-id]").attr("shop-order-id");

                confirmationDialog.attr("shop-action", "complete-order");

                confirmationDialog.html($("#confirmation-dialog-template").html());
                confirmationDialog.append("<span shop-order-id='" + orderId + "'></span>");

                confirmationDialog.dialog("open");
            });

            // delete order functionality
            var deleteOrderButtons = $("#orders-wrapper").find("[shop-action='delete-order']");
            deleteOrderButtons.on("click", function () {
                var orderId = $(this).closest("[shop-order-id]").attr("shop-order-id");

                confirmationDialog.attr("shop-action", "remove-order");

                confirmationDialog.html($("#confirmation-dialog-template").html());
                confirmationDialog.append("<span shop-order-id='" + orderId + "'></span>");

                confirmationDialog.dialog("open");
            });

            $("#orders-wrapper").tabs({
                collapsibe: true,
                show: { effect: "blind", duration: 500 },
                hide: { effect: "blind", duration: 250 },
            });
        });
    </script>
}