@model IEnumerable<OrderViewModel>

<div class="w-60r mx-auto p-1">
    <h1 class="text-center w-100 p-1">Orders</h1>

    <div id="orders-table-toolbar" class="w-100 table-toolbar">
        <select class="shop-select">
            <option>Show All</option>
            <option value="Completed">Completed</option>
            <option value="New">New</option>
            <option value="Sent">Sent</option>
        </select>
        <button id="collapse-groups-btn" class="shop-btn shop-btn-green">Collapse all</button>
        <button id="send-order-btn" style="display: none;" class="shop-btn shop-btn-green">Send</button>
        <button id="complete-order-btn" style="display: none;" class="shop-btn shop-btn-green">Complete</button>
    </div>
    <div id="orders-wrapper" class="w-100">
        @this.Html.Partial("_OrdersTablePartial", this.Model)
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(function () {
            // collapse all groups functionality
            $("#collapse-groups-btn").on("click", function () {
                $(".tabulator-row.tabulator-group.tabulator-group-level-0.tabulator-group-visible.tabulator-row-odd .tabulator-arrow, .tabulator-row.tabulator-group.tabulator-group-level-0.tabulator-group-visible.tabulator-row-even .tabulator-arrow").click();
            });

            // send order
            $("#send-order-btn").on("click", function () {
                var sendOrderCallback = function sendOrderCallback() {
                    var orderId = table.getSelectedRows()[0]._row.data.id;

                    $.ajax({
                        url: "/Order/Send/" + orderId,
                        method: "GET"
                    }).then(function () {
                        window.location.reload();
                    });

                    $(".custom-modal").find(".close-modal-btn").click();
                };

                modalFunctions.openConfirmationModal(sendOrderCallback.bind(this));
            });

            // complete order
            $("#complete-order-btn").on("click", function () {
                var completeOrderCallback = function completeOrderCallback() {
                    var orderId = table.getSelectedRows()[0]._row.data.id;

                    $.ajax({
                        url: "/Order/Complete/" + orderId,
                        method: "GET"
                    }).then(function () {
                        window.location.reload();
                    });

                    $(".custom-modal").find(".close-modal-btn").click();
                };

                modalFunctions.openConfirmationModal(completeOrderCallback.bind(this));
            });

            var table = new Tabulator("#orders-wrapper table", {
                layout: "fitData",
                selectable: 1,
                resizableRows: false,
                resizableColumns: false,
                pagination: "local",
                paginationSize: 10,
                groupBy: "status",
                cellClick: function (e, cell) {
                    // show product details modal functionality
                    var productId = cell._cell.row.data.product_id;

                    var columnType = cell._cell.column.contentElement.innerText;
                    if (columnType.toLowerCase() === "product") {
                        modalFunctions.openProductDetailsDialog(productId)
                    }
                },
                rowSelected: function (row) {
                    var sendBtn = $("#orders-table-toolbar").find("#send-order-btn");
                    var completeBtn = $("#orders-table-toolbar").find("#complete-order-btn");

                    var currentStatus = row._row.data.status;
                    if (currentStatus === "New") {
                        sendBtn.fadeIn(200);
                        completeBtn.hide();
                    } else if (currentStatus === "Sent") {
                        sendBtn.hide();
                        completeBtn.fadeIn(200);
                    } else {
                        sendBtn.fadeOut(100);
                        completeBtn.fadeOut(100);
                    }
                }
            });

            table.hideColumn("id");
            table.hideColumn("product_id");

            // cancel order 
            table.addColumn({
                formatter: "buttonCross",
                width: 30,
                cellClick: function (e, cell) {
                    var orderId = cell.getRow()._row.data.id;
                    var cancelOrdercallback = function cancelOrdercallback(orderId) {

                        $.ajax({
                            url: "/Order/Cancel/" + orderId,
                            method: "GET"
                        }).then(function () {
                            window.location.reload();
                        });

                        $(".custom-modal").find(".close-modal-btn").click();
                    };

                    modalFunctions.openConfirmationModal(cancelOrdercallback.bind(this, orderId));
                }
            });

            // filtering by status
            var statusFilterSelect = $("#orders-table-toolbar").find(".shop-select");
            statusFilterSelect.on("change", function (e) {
                var currentStatus = e.currentTarget.value;

                if (currentStatus && currentStatus !== "Show All") {
                    table.setFilter([
                        { field: "status", type: "=", value: currentStatus }
                    ]);
                } else {
                    table.clearFilter();
                }
            });
        });
    </script>

}