.banner {
    height: 6rem;
    background-color: #000;
}

.banner-image-wrapper {
    background-image: url("../Images/shop-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 26rem;
    width: 60rem;
    margin: 1rem auto;
}

.banner > section {
    display: flex;
    width: 60rem;
    color: #fff;
    margin: 0 auto;
    padding: 1.5rem 0;
}

    .banner > section > .banner-icon {
        width: 8rem;
        margin: 0 1rem;
    }

    .banner > section > .banner-search-box {
        width: 40rem;
        position: relative;
    }

    .banner > section > .banner-order-information {
        width: 10rem;
        padding: 0.5rem 0.5rem 0 0;
        text-align: end;
        font-size: 18px;
        margin-left: auto;
    }

        .banner > section > .banner-order-information a {
            text-decoration: none;
            color: #fff;
        }
