.shop-btn {
	border:none;
	color: #fff;
	background-color: #000;
	padding: 0.4rem 1rem;
	font-size: 20px;
}

.shop-btn:hover {
	cursor: pointer;
}

.shop-btn-green {
    background-color: #2a2;
}

.shop-btn-delete {
    border: none;
    color: #fff;
    background-color: #f00;
    padding: 0.5rem 1rem;
    font-size: 20px;
}

.shop-btn-delete:hover {
    cursor: pointer;
}