ul.menu {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
}

    ul.menu li {
        float: left;
        margin: 0px 10px 0px 10px;
    }

        ul.menu li.ui-state-hover {
            margin: -1px 9px -1px 9px;
        }

.menu li a {
    display: block;
}

.menu li ul {
    display: none;
    position: absolute;
}

    .menu li ul li {
        display: block;
        float: none;
    }

li.ui-menu-item.ui-state-hover {
    margin: 0px;
}

.ui-button.bg-delete {
    background-color: #b00;
}

.ui-button.bg-edit {
    background-color: #bb0;
}

.ui-accordion.mx-auto {
    margin: 2rem auto;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
}

.mx-auto {
    margin: 0 auto;
}

.w-100 {
    width: 100%
}

.w-60r {
    width: 60rem;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.w-90 {
    width: 90%;
}

.header-wrapper {
    font-size: 24px;
    color: #fff;
    background-color: #000;
}

main {
    /*height: 100%;*/
    min-height: 100vh;
    position: relative;
}

.overflow-auto {
    overflow: auto;
}

.h-10r {
    height: 10rem;
}

#orders-wrapper .ui-accordion-content {
    max-height: 20rem;
    overflow: auto;
}

.text-center {
    text-align: center;
}

.text-black {
    color: #000;
}

.bold {
    font-weight: bold;
}

.text-red {
    color: #f00;
}

.font-26 {
    font-size: 26px;
}

.p-1 {
    padding: 1rem;
}

.d-block {
    display: block;
}

.mt-5r {
    margin-top: 5rem;
}

.empty-after:after {
    content: "";
    width: 100%;
    height: 50px;
    display: block;
}
