.pagging-wrapper {
    width: 50%;
    display: flex;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

    .pagging-wrapper > li {
        color: #fff;
        border-radius: 3px;
        margin: 0 0.1rem;
    }

    .pagging-wrapper > li > a {
        padding: 0.2rem;
    }