@model LoginInputModel

@{
    ViewBag.RegisterValidationScripts = true;
}

<div class="form-wrapper">
    <h2 class="w-50 mx-auto text-center">Login</h2>
    <form class="custom-form" asp-controller="Account" asp-action="Login" method="@FormMethod.Post.ToString()">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="custom-input-wrapper">
            <input asp-for="UserName" placeholder="Enter Username...">
            <span class="d-block text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="custom-input-wrapper">
            <input asp-for="Password" placeholder="Enter Password...">
            <span class="d-block text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="custom-input-wrapper">
            <input type="submit" value="Login"/>
        </div>
        <p class="text-center">Don't have an account? You can create one <a asp-action="Register" asp-controller="Account">here</a>.</p>
    </form>

    <p class="text-center">or Connect with Social Media</p>
    <div class="social-media-btns-wrapper w-50">
        <form asp-action="ExternalLogin" asp-controller="Account" method="@FormMethod.Post.ToString()">
            <button type="submit" name="provider" value="Facebook" class="custom-btn w-100 mx-auto d-block"><i class="fab fa-facebook-f"></i> Facebook</button>
        </form>
    </div>
</div>