html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    overflow-x: hidden;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    line-height: 1.69;
}

a{
    text-decoration:none;
}

form input[type=text] {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: #a6a6a6 solid 1px;
}

form input[type=password] {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: #a6a6a6 solid 1px;
}

.font-35{
    font-size: 35px;
}

.bg-nav {
    background-color: #001a00;
}

.text-white{
    color:white;
}

#navigation{
    width:100%;
}

.list-style-none{
    list-style: none;
}

.display-block{
    display:block;
}

.display-inline{
    display:inline;
}

.text-center{
    text-align: center;
}

.text-start{
    text-align: start;
}

.text-end{
    text-align: end;
}

.mx-auto{
    margin: 0px auto;
}

.mx-10-auto{
    margin: 10px auto;
}

.m-0{
    margin:0px;
}

.m-10{
    margin: 10px;
}

.m-20{
    margin: 20px;
}

.p-0{
    padding:0px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.w-70{
    width: 70%;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.equal-shared-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


body::after {
    content: '';
    display: block;
    height: 100px;
}

#footer {
    position: absolute;
    bottom: 0;
    margin-top: 50px;
    width: 100vw;
}

.btn {
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: #001a00 solid 1px;
    outline: none;
}