nav {
    background-color: #000;
    color:white;
}

.logo-wrapper {
    padding: 1rem 2rem;
    width: 5rem;
}

.info-bar {
    width: 100%;
    display: flex;
    background-color: #1f2328;
    color: white;
}

.account-actions {
    display: flex;
    margin-left: auto;
    margin-right: 5%;
}

.contact-info {
    width: 50%;
    margin-right: auto;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.nav {
    display: flex;
}

.account-actions > a {
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
}

.contact-info > p {
    /*width: 22%;*/ 
    padding: 0.5rem;
}

.nav > ul {
    list-style: none;
    width: 30rem;
    margin-left: auto;
    display: flex;
    padding: 1rem;
    background-color: inherit;
    justify-content: center;
    align-items: flex-end;
    flex: 0 1 auto;
}

.nav > ul > li {
    font-size: 20px;
    text-align: center;
    width: 6rem;
    color: #fff;
}

.nav > ul > li > a {
    color: white;
    text-decoration: none;
}