@import url('./navigation.css');
@import url('./footer.css');
@import url('./validation.css');
@import url('./buttons.css');
@import url('./forms.css');
@import url('./https://use.fontawesome.com/releases /v5.8.2/css/all.css');
@import url('./fontawesome/css/all.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}


main {
    height: 100%;
}

.bg-info {
    background-color: #1f2328;
}