@model Alert

@if (Model != null)
{
    <div class="alert-wrapper">
        <div class="alert alert-@Model.AlertType.ToString().ToLower()">
            <span class="font-weight-bold">@Model.AlertType.ToString():</span>
            @Model.Message
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
           $('.alert').on('click', function(e){
               $(e.currentTarget).fadeOut(300);  
           });
        });
    </script>
}