<div class="search-wrapper">
    <div class="logo-wrapper">
        <div>
            <i class="fab fa-pied-piper-square fa-4x"></i>
        </div>
    </div>
    <div>
        <input type="text" placeholder="Search..."/>
    </div>
</div>