<!DOCTYPE html>
<html>
<head>
    <title>Shop App 2.0</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>

<header>
    <div class="banner">
        
    </div>
    <partial name="_MenuPartial"/>
</header>

<main>
    @RenderBody()
</main>

<footer></footer>

<script src="./lib/jquery/dist/jquery.min.js"></script>

</body>
</html>