<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shop App 2.0</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/fontawesome/all.min.css">
</head>
<body>

<header>
    <partial name="_BannerPartial"/>
    <partial name="_BannerSearchPartial"/>
    <partial name="_MenuPartial"/>
</header>

<main>
    <div class="main">
        @RenderBody()
    </div>
</main>

<footer>
    
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

</body>
</html>