<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shop App 2.0</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/fontawesome/all.min.css">
    @if (ViewBag.RegisterFlatpickr == true)
    {
        <link rel="stylesheet" href="~/lib/flatpickr/flatpickr.min.css">
        <link rel="stylesheet" href="~/lib/flatpickr/theme.css">
        <link rel="stylesheet" href="~/lib/flatpickr/ie.css">
    }
    <link href="https://unpkg.com/tabulator-tables@4.5.3/dist/css/tabulator.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.4.3/css/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet">
</head>
<body>

<header>
    <partial name="_BannerPartial"/>
    <partial name="_BannerSearchPartial"/>
    <partial name="_MenuPartial"/>
</header>

<main>
    <div class="main">
        @RenderBody()
    </div>
</main>

<footer>

</footer>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="~/js/custom/dropdown.js"></script>

<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.3/dist/js/tabulator.min.js"></script>

@if (ViewBag.RegisterMomentJs == true)
{
    <script type="text/javascript" src="~/lib/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/lib/moment/moment-with-locales.min.js"></script>
}

@if (ViewBag.RegisterFlatpickr == true)
{
    <script type="text/javascript" src="~/lib/flatpickr/flatpickr.min.js"></script>
}

@if (ViewBag.RegisterValidationScripts == true)
{
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@RenderSection("scripts", required: false)

</body>
</html>