<div class="modal-wrapper">
    <div class="custom-modal">
        <div class="modal-header text-center w-100">
            <h3></h3>
            <div class="cancel-modal-btn text-center">
                <a href="javascript:void(0)" close-modal-btn><i class="fas fa-times fa-3x text-white"></i></a>
            </div>
        </div>
        <div class="modal-body p-1 product-details-body">

        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>