@model CategoryViewModel

<div class="category-partial">
    <a shop-role-id="@this.Model.Id" href="/Product/All?category=@this.Model.Name">@this.Model.Name</a>
    @if (this.User.Identity.IsAuthenticated)
    {
        if (this.User.IsInRole(RolesConstants.Administrator))
        {
            <button shop-action="edit-category" class="bg-edit shop-btn"><i class="fas fa-edit"></i></button>
            <button shop-action="add-product" class="shop-btn"><i class="fas fa-plus"></i></button>
            <a href="/Category/Delete/@this.Model.Id" class="category-action-btn shop-btn-delete"><i class="fas fa-trash-alt"></i></a>
        }
    }
</div>