@model CategoryViewModel

<section class="category-index-partial">
    <img src="@this.Model.CoverUrl"/>
    <a href="/Product/All?category=@this.Model.Name"><p class="text-center">@this.Model.Name</p></a>
</section>