<table id="checkout-table" class="overflow-auto">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#orders}}
        <tr shop-product-id="{{productId}}">
            <td>{{name}}</td>
            <td><input class="text-center w-50" type="number" min="0" value="{{quantity}}" /></td>
            <td><button shop-action="remove-product" class="shop-btn-delete">Remove</button></td>
        </tr>
        {{/orders}}
    </tbody>
</table>
<div class="w-100 mx-auto text-center p-1">
    <label for="totalPrice">Total Price:</label>
    <span shop-order-total-price>${{totalPrice}}</span>
</div>
<div class="w-100 mx-auto text-center p-1">
    <label for="address">Address</label>
</div>
<div class="w-100">
    <input id="address" class="d-block w-100" shop-role="order-address" type="text" name="address" placeholder="Address..." />
    <div class="field-validation-error text-center"><span id="address-validation-field" class="text-box single-line input-validation-error"></span></div>
</div>
<div class="w-100 mx-auto text-center p-1">
    <label for="description">Description</label>
</div>
<div class="w-100">
    <textarea id="description" rows="4" shop-role="order-description" cols="30" class="d-block w-100"></textarea>
</div>