<table id="checkout-table" class="overflow-auto">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#orders}}
        <tr shop-product-id="{{productId}}">
            <td>{{name}}</td>
            <td><input class="text-center w-50" type="number" value="{{quantity}}"/></td>
            <td><button shop-action="remove-product" class="ui-button ui-widget ui-corner-all">Remove</button></td>
        </tr>
        {{/orders}}
    </tbody>
</table>
<div class="w-100 mx-auto text-center p-1">
    <label for="address">Address</label>
</div>
<div class="w-100">
    <input id="address" class="d-block mx-auto" shop-role="order-address" type="text" name="address" />
</div>
