<footer class="shop-footer">
    <section class="footer-information">
        <section>
            <h4 class="text-center">Contact Info</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </section>
        <section>
            <h4 class="text-center">Contact Info</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </section>
        <section>
            <h4 class="text-center">Contact Info</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </section>
    </section>
    <section class="footer-copyright-info text-center">
        <p>All Rights Reserved &copy; 2019</p>
    </section>
</footer>