@using Asp.Mvc.Web.Extensions.Web;

<ul id="pagging-container" class="pagging-wrapper"></ul>

@* TODO [GM]: Extract in js file? *@
<script type="text/javascript">
    var numbersRegex = /^\d+$/;

    // getting the URL query parameters
    const urlParams = Array.from(window.location.search.split(/[?&]/))
        .filter(function (p) {
            return p.length > 0 || p;
        }).map(function (p) {
            var fullParameter = p.split("=");
            var key = fullParameter[0];
            var value = fullParameter[1];

            return {
                key: key,
                value: value
            };
        });

    // getting the category parameter
    var myParam = Array.from(urlParams).find(function (p) {
        return p.key === "category";
    });

    myParam = myParam ? myParam : { value: "" };

    $(function () {
        // fetching the products count for this category
        $.ajax({
            method: "GET",
            url: "/api/" + "@this.Html.CurrentController()" + "Api/Count?category=" + myParam.value,
            success: function (elementsCount) {
                var $paggingWrapper = $("#pagging-container");
                var pagesCount = Math.floor(elementsCount / 9) + 1;

                if (pagesCount == 1) {
                    $paggingWrapper.append("<li class='mx-auto'><a class='page-btn' href='/Product/All?category=" + myParam.value + "&page=0'><i class='fas fa-angle-double-left'></i></a></li>");
                    $paggingWrapper.append("<li class='mx-auto'><a class='page-btn' href='javascript:void(0)' onclick='decrementPage(this);'><i class='fas fa-angle-left'></i></a></li>");
                }

                for (var index = 1; index <= 1; index++) {
                    $paggingWrapper.append("<li class='mx-auto'><a class='page-btn' href='/Product/All?category=" + myParam.value + "&page=" + (index - 1) + "'>" + index + "</a></li>");
                    if (pagesCount == 1) {
                        $paggingWrapper.append("<li class='mx-auto'><a class='page-btn' href='javascript:void(0)'>...</a></li>");
                    }
                }

                $paggingWrapper.append("<li class='mx-auto'><a class='page-btn' href='/Product/All?category=" + myParam.value + "&page=" + (pagesCount - 1) + "'>" + (pagesCount) + "</i></a></li>");
                if (pagesCount == 1) {
                    $paggingWrapper.append("<li class='mx-auto'><a class='page-btn' href='javascript:void(0)' onclick='incrementPage(this);'><i class='fas fa-angle-right'></i></a></li>");
                    $paggingWrapper.append("<li class='mx-auto'><a class='page-btn' href='/Product/All?category=" + myParam.value + "&page=" + (pagesCount - 1) + "'><i class='fas fa-angle-double-right'></i></a></li>");
                }
            }
        });

    });


    function incrementPage(currentPage) {
        var pages = $("#products-pagging-wrapper").find("li");

        var $firstPage = $(pages[2]).find("a");
        var $page = $(currentPage);

        var $prevPage = $($page.parent().prev().children()[0]);

        if (numbersRegex.match($prevPage.text()) && numbersRegex.match($firstPage.text())) {
            var nextIndex = parseInt($firstPage.text()) + 1;

            if (parseInt($prevPage.text()) > parseInt($firstPage.text())) {
                $firstPage.text(nextIndex);
                $firstPage.attr("href", "/Product/All?category=" + myParam.value + "&page=" + (nextIndex - 1));
            }
        }
    }

    function decrementPage(currentPage) {
        var pages = $("#products-pagging-wrapper").find("li");

        var $firstPage = $(pages[2]).find("a");

        if (numbersRegex.match($firstPage.text())) {
            var nextIndex = parseInt($firstPage.text()) - 1;

            if (!(nextIndex < 1)) {
                $firstPage.text(nextIndex);
                $firstPage.attr("href", "/Product/All?category=" + myParam.value + "&page=" + (nextIndex - 1));
            }
        }
    }
</script>